body{
    background-color: #34496e;
    margin: 0;
    padding: 0;
}

/* Titulos */

h1{
    color: white;
    font-family: Arial;
    text-align: center;
}

h2{
    color: white;
    font-family: Helvetica;
    text-align: center;
}

h3{
    color: white;
    text-align: center;
}

p{
    font-weight: 100;
}

/* Links */

a{
    height: 10%;
    width: 96%;
    background-color: red;
}

/* Contenedor */

#contenedor{
    width: 80%;
    height: 1900px;
    background-color: dimgray;
    margin: 0.5em auto;
    padding: 0.5em;
}

#header{
    height: 8%;
    background-color: cornflowerblue;
    margin: 1em;
    border-radius: 1em;
    padding: 0.3em;
}

#nav{
    height: 5%;
    background-color: darkcyan;
    margin: 1em;
    border-radius: 1em;
    padding: 0.5em;
}

#contenido{
    height: 68%;
    margin: 0.5em;
    margin-bottom: 3em;
}

#section{
    height: 100%;
    width: 72%;
    /* background-color: dimgray; */
    margin-left: 0.5em;
    border-radius: 1em;
    float: left;
}

.articulo{
    height: 17%;
    width: 94%;
    background-color: brown;
    margin: 1em;
    border-radius: 1em;
    padding: 0.5em;
}

#aside{
    height: 100%;
    width: 25%;
    background-color: gray;
    margin-right: 0.5em;
    border-radius: 1em;
    float: right;
}

#footer{
    height: 11%;
    background-color: darkcyan;
    margin: 1em;
    border-radius: 1em;
    padding: 0.5em;
}

/* Footer */

#botones{
    text-align: center;
}

#correo{
    margin: 0;
    float: left;
}